<h1>UMSETZUNG</h1>

<ul class="vertical menu" data-accordion-menu>

  <li>
    <a href="#05-industrielles-design">Industrielles Design</a>

    <ul class="menu vertical nested">
      <li>
        <a href="#05-technische-zeichnung">Technische Zeichnung</a>
      </li>
      <li>
        <a href="#05-volumensstudie">Volumensstudie</a>
      </li>
      <li>
        <a href="#05-formgebung">Formgebung &amp; Oberfläche</a>
      </li>
    </ul>

  </li>

  <li>
    <a href="#05-prototyp">Prototyp</a>

      <ul class="menu vertical nested">
        <li>
          <a href="#05-simulation">Simulation</a>
        </li>
        <li>
          <a href="#05-klassendiagramme">Klassendiagramme</a>
        </li>
        <li>
          <a href="#05-flowcharts">Flowcharts</a>
        </li>
        <li>
          <a href="#05-verwendete-algorithmen">Verwendete Algorithmen</a>
        </li>
      </ul>

  </li>

</ul>
