<h1>MARKETING</h1>

<ul class="vertical menu" data-accordion-menu>

  <li>
    <a href="#06-distribution">Distribution</a>
  </li>

  <li>
    <a href="#06-marktposition">Marktposition</a>
  </li>

  <li>
    <a href="#06-preispolitik">Preispolitik</a>
  </li>

  <li>
    <a href="#06-kommunikationspolitik">Kommunikationspolitik</a>
  </li>

  <li>
    <a href="#06-projektpartner-kunden-sponsoren">Projektpartner / Kunden / Sponsoren</a>
  </li>

  <li>
    <a href="#0-projektrisiken-und-loesungen">Projektrisiken und Lösungen</a>
  </li>

  <li>
    <a href="#06-trailer">Trailer</a>

      <ul class="menu vertical nested">
        <li>
          <a href="#06-storyboard">Storyboard</a>
        </li>
        <li>
          <a href="#06-animatic-visual-key">Animatic / Visual Key</a>
        </li>
        <li>
          <a href="#06-verwendete-technik">Verwendete Technik</a>
        </li>
        <li>
          <a href="#06-post-production">Post Production</a>
        </li>
      </ul>
  </li>
</ul>
